@()(implicit request: RequestHeader)
<!DOCTYPE html>
<html>
<head>
    <title>Fair Play</title>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
</head>
<body data-ws-url="@routes.Application.ws.webSocketURL()">
    <button onclick="document.ws.send(JSON.stringify('Button pressed!')); alert('Ok');">Press Me!</button>
</body>
</html>